<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bookdin Test Suite" verbose="1">
    <listeners>
        <listener class-name="com.cts.mfrp.bookdin.utils.ExtentReportListener"/>
    </listeners>
    <test name="Bookdin Tests">
        <classes>
            <class name="com.cts.mfrp.bookdin.tests.LoginTest"/>
            <class name="com.cts.mfrp.bookdin.tests.BookingTest"/>
            <class name="com.cts.mfrp.bookdin.tests.ServiceTest"/>
        </classes>
    </test>
</suite>
